header h1 {
    text-align: center;
}

.todo-list-item {
    transition: all 0.3s ease-out;
}

.todo-list-item-fall {
    transform: translateY(12rem) rotateZ(10deg);
    opacity: 0;
}

.toggleChecked {
    text-decoration: line-through;
}